<template>
    
    <center><h1>Galleries!</h1></center>
    <div class="container">   
    <div class="card topMargin">
            <div class="card-body">
                <div class="row">
                    <span class="col">
    
                    <container>    <span class="rightMargin pull-right"><i click.trigger="logout()" 
        class="fa fa-sign-out fa-lg" aria-hidden="true"></i></span>
                        <span class=" rightMargin pull-right"><i click.trigger="createGallery()" 
        class="fa fa-plus fa-lg" aria-hidden="true"></i></span>
                    </span>
                </div>
        <div show.bind="galleries.galleriesArray.length">
            <table class="table table-striped" style="color:blue">
                    <thead>
                        <tr>
                            <th bgcolor="grey">Gallery</th>
                             <th bgcolor="grey">Description</th>
                             <th bgcolor="grey">Edit</th>
                             <th bgcolor="grey">Delete</th>
                             
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for = "gallery of galleries.galleriesArray">
                            <th click.trigger="checkGallery(gallery)">${gallery.gallery}</th>
    
                             <td>${gallery.description}</td>
                             
                            
                                <td><i click.trigger="editGallery(gallery)" class="fa fa-pencil rightMargin" aria-hidden="true"></i></td>
                                <td><i click.trigger="deleteGallery(gallery)"class="fa fa-trash rightMargin" aria-hidden="true"></i></td>
                                </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div show.bind="!galleries.galleriesArray.length">
            <center><h2>No galleries found!</h2></center>
        </div>
    </div> 
    
    
            </div>
        </div>
    </template>