<template>

   
   <center><h2 Style = "color:#1f6ee4"><b>Picture list!!</b></h2></center>
   <div class="container">
    <div class="card topMargin">
    <div class="card-body">
        <span><i click.trigger="backToList()" class="fa fa-arrow-left fa-lg" 
            aria-hidden="true"></i></span>
    </div>
</div>
<div class="card topMargin">
    <div class="card-body">
        <div class="row">
            <span class="col">

                <span class="rightMargin pull-right"><i click.trigger="logout()" 
class="fa fa-sign-out fa-lg" aria-hidden="true"></i></span>
                <span class=" rightMargin pull-right"><i click.trigger="createpic()" 
class="fa fa-plus fa-lg" aria-hidden="true"></i></span>
            </span>
        </div>
<div show.bind="pics.picsArray.length">
    <table  class="table table-striped" style="color:blue">
            <thead>
                <tr>
                    <th bgcolor="grey">pic</th>
                     <th bgcolor="grey">Edit</th>
                     <th bgcolor="grey">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for = "pic of pics.picsArray">
                    <td>  <a href="uploads/${pic.galleryId}/${pic.file.fileName}" 	
                        target="_blank"><img src="uploads/${pic.galleryId}/${pic.file.fileName}"  style="width:200px; height: 150px;"></a>
                    
                    </td>
</a>


                     <td>
                        <i click.trigger="editpic(pic)" class="fa fa-pencil rightMargin" aria-hidden="true"></i>
                        <td><i click.trigger="deletepic(pic)"class="fa fa-trash rightMargin" aria-hidden="true"></i></td>
                     </td>
                </tr>
            </tbody>
        </table>
</div>
<div show.bind="!pics.picsArray.length">
   <center> <center><h2 Style = "color:rgb(230, 22, 22)"><b>No Pictures.. please add!!</b></h2></center> </center>
</div>

    </div>
</div>
</div>

</template>